@import "antd/dist/antd.css";

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: red;
}

* {
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

.ant-btn-default {
    background-color: #000 !important;
    color: #fff !important;
    border: none;
}

.ant-input:hover, .ant-input:focus {
    border: 1px solid #d9d9d9 !important;
    box-shadow: none;
}

.ant-input {
    font-size: 16px;
}

.ant-pagination {
    text-align: center;
}

.ant-pagination-item-active:hover, .ant-pagination-item-active, .ant-pagination-item:hover {
    border: 1px solid #000;
    color: rgba(0, 0, 0, 0.85);
}

.ant-pagination-item-active a {
    color: rgba(0, 0, 0, 0.85);
}

.ant-pagination-item-active a:hover, .ant-pagination-item a:hover {
    color: rgba(0, 0, 0, 0.85);
}
