@import "antd/dist/antd.css";

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.ant-btn-default {
    background-color: #000 !important;
    color: #fff !important;
    border: none;
}

.ant-input:hover, .ant-input:focus {
    border: 1px solid #d9d9d9 !important;
    box-shadow: none;
}

.ant-input {
    font-size: 16px;
}