@import "../../styles/globals";

.container {
  text-align: center;

  :global {
    h1 {
      width: 710px;
    }

    .search {
      @include flexContainer;
      justify-content: center;

      .input {
        width: 400px;
        height: 58px;
      }

      .input:focus {
        border: none;
      }

      .submit {
        width: 120px;
        height: 58px;
      }
    }
  }
}
